@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #acddf0;
}

.container .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
                0px 6px 20px 0 rgba(0,0,0,0.19)   
    ;
    width: 50%;
    display: flex;
    height: 80vh;
    background-color: #fff;

}

.box .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box .left h2 {
    font-size: 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.box .left form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box .left form label {
    margin: 7px 0;
}

.box .left form label input {
   width: 80%;
   padding: 8px 5px;
   border: none;
   background-color: rgb(233, 233, 233);
}

.box .left form label input:hover {
    border: 1px solid #4a6bda;
 }

.box .left p {
    margin-top: 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.box .left p a {
    text-decoration: none;
}

.box .left button{
    width: 120px;
    background-color: #577eff;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
    border: none;
    padding: 15px 10px;
    justify-content: center;
    text-align: center;
    margin: 20px;

}

.box .right {
    width: 50%;
    overflow: hidden;
    display: flex;
    position: center;
}

.box .right img {
    
}